{% extends "base.html" %}
{% load static %}
{% block advanced_search_item %}
    <li class="nav-item active">
{% endblock %}
{% block content %}
<head>
	<title>OpenCSMap</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
</head>
<body>
    <br>
    <div class="overlay"></div>
    <div class="container fill">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-8 mx-auto">
          <div class="card">
              <div class="card-header text-center">
                <h2>Advanced Search</h2>
              </div>
              <div class="card-body">
                <form action="/search/advanced_search_results" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="topic"><b>Research topic:</b></label>
                            <input required type="text" class="form-control"
                                                name="topic" id="topic">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="authors"><b>Author:</b></label>
                            <input type="text" class="form-control"
                            name="authors" id="authors" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="results-by"><b>Aggregate results by:</b></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="results-by" id="affiliation" value="affiliation"
                                checked="checked">
                                <label class="form-check-label" for="inlineRadio0">Affiliation</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="results-by" id="city" value="city">
                                <label class="form-check-label" for="inlineRadio0">City</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="results-by" id="country" value="country">
                                <label class="form-check-label" for="inlineRadio0">Country</label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="type-of-pub"><b>Type of publication:</b></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type-of-pub" id="all" value="all"
                                checked="checked">
                                <label class="form-check-label" for="inlineRadio1">All</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type-of-pub" id="inproceedings" value="inproceedings">
                                <label class="form-check-label" for="inlineRadio1">Inproceedings</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type-of-pub" id="article" value="article">
                                <label class="form-check-label" for="inlineRadio1">Journal</label>
                            </div>
                            </div>
                        <div class="form-group col-md-3">
                            <b>Publication range:</b>
                            <br>
                            <label for="from-date">From:</label>
                            <select class="form-control" id="from-date" name="from-date">
                                <option value=0>---</option>
                                {% for i in years %}
                                <option value={{i}}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <span id="error-from-date"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <br>
                            <label for="to-date">To:</label>
                            <select class="form-control" id="to-date" name="to-date">
                                <option value=0>---</option>
                                {% for i in years %}
                                <option value={{i}}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <span id="error-to-date"></span>
                            <br><br>
                            <button id="submit-button" onclick="" type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                        
                        </div>
                    </div>
                </form>
              </div>
          </div>
        </div>
        </div>
    </div>




</body>

{% endblock %}
{% block specific_js %}
<script>

    var start = 0
    var end = 0


    function resetErrors() {
            document.getElementById("error-from-date").innerHTML = '';
            document.getElementById("error-to-date").innerHTML = '';
            document.getElementById("submit-button").disabled = false;
        }

    $('#from-date').on('change', function(){
        start = $('#from-date').val()
        end = $('#to-date').val()
        if (end != 0 && end < start){
            document.getElementById("error-from-date").innerHTML = '<font color="red"><b>Must be less than "To" year</b></font>';
            document.getElementById("submit-button").disabled = true;
        }
        else {
            resetErrors()
        }
    });

    $('#to-date').on('change', function(){
        start = $('#from-date').val()
        end = $('#to-date').val()
        if (end != 0 && end < start){
            document.getElementById("error-to-date").innerHTML = '<font color="red"><b>Must be greater than "From" year</b></font>';
            document.getElementById("submit-button").disabled = true;
        }
        else {
            resetErrors()
        }
    });



</script>
{% endblock %}